<%= form_with model: @image do |form| %>

  <div id="rating-form">
    <label>Rating</label>
  </div>


  <%= form.submit "Save", class: "btn btn-primary" %>

<% end %>

<script>
    $('#rating-form').raty({
        path: '/assets/',
        scoreName: 'value[value]'
    });
</script>