<header class="navbar navbar-fixed-top navbar-dark bg-dark">
  <div class="container">
    <%= link_to "travel app", root_path, id: "logo" %>
    <nav>
      <ul class="nav justify-content-end ">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Help', help_path%></li>
        <li><%= link_to 'Log in', '#' %></li>
      </ul>
    </nav>
  </div>
</header>