
= link_to t('work.button_theme_select.select_theme_bt'), choose_theme_path, locale: @current_locale, :format => 'js',
        remote: true, style: 'color:grey-light; width: 80%', class: 'btn btn-outline-secondary center-block'