div class="form_select"
  = form_tag('/display_theme', remote: true,  :format => 'js') do

    = select_tag :theme_id,
            options_from_collection_for_select(@themes, 'id', @name),
            prompt: 'prompt',
            onchange:  "$(this).parent('form').submit();",
            formats: [ :js ],
            class: 'form-control'